{% extends 'base.html.twig' %}

{% block container %}
    <div class="container">
        <div class="row">
            <div class="col-12">

                <!-- MERCHANT LOGO START -->
                <div class="row">
                    <div class="col-12 text-center">
                        <img src="data:image/png;base64, {{ merchant_log_path }}"
                             alt="merchant-log-path"
                             class="img-fluid w-50 px-4 py-2"/>
                    </div>
                </div>
                <!-- MERCHANT LOGO END -->

                <!-- BORDERED CONTAINER START -->
                <div class="row">
                    <div class="col-12">
                        <div class="bordered-top bordered-bottom text-center">
                            <strong>Фискални рачун</strong>
                        </div>
                    </div>
                </div>
                <!-- BORDERED CONTAINER END -->

                <!-- INVOICE INFO START -->
                <div class="row">
                    <div class="col-12">
                        <table class="table table-sm table-borderless">
                            <tr>
                                <td class="align-middle text-start">ПИБ:</td>
                                <td class="align-middle text-end">{{ properties.getInvoice.merchant.tin }}</td>
                            </tr>
                            <tr>
                                <td class="align-middle text-start">Предузеће:</td>
                                <td class="align-middle text-end">{{ properties.getInvoice.merchant.name }}</td>
                            </tr>
                            <tr>
                                <td class="align-middle text-start">Име:</td>
                                <td class="align-middle text-end">{{ properties.getInvoice.merchant.branchName }}</td>
                            </tr>
                            <tr>
                                <td class="align-middle text-start">Адреса:</td>
                                <td class="align-middle text-end">{{ properties.getInvoice.merchant.address }}</td>
                            </tr>
                            <tr>
                                <td class="align-middle text-start">Место:</td>
                                <td class="align-middle text-end">{{ properties.getInvoice.merchant.district }}</td>
                            </tr>

                            <tr>
                                <td class="align-middle text-start">Касир:</td>
                                <td class="align-middle text-end">
                                    {{
                                        properties.getInvoice.cashier.identifier ~ ' - ' ~
                                        properties.getInvoice.cashier.name ~ ' ' ~
                                        properties.getInvoice.cashier.surname
                                    }}
                                </td>
                            </tr>

                            {% if properties.buyer.buyerId is not empty %}
                                <tr>
                                    <td class="align-middle text-start">ПИБ купца:</td>
                                    <td class="align-middle text-end">{{ properties.buyer.buyerId }}</td>
                                </tr>
                            {% endif %}

                            {% if properties.buyer.buyerCostCenterId is not empty %}
                                <tr>
                                    <td class="align-middle text-start">Податак купца:</td>
                                    <td class="align-middle text-end">{{ properties.buyer.buyerCostCenterId }}</td>
                                </tr>
                            {% endif %}

                            <tr>
                                <td class="align-middle text-start">ПОС број:</td>
                                <td class="align-middle text-end">{{ properties.getInvoice.number }}</td>
                            </tr>
                            <tr>
                                <td class="align-middle text-start">ПОС време:</td>
                                <td class="align-middle text-end">{{ properties.getInvoice.issueDateTime | date('d.m.Y H:i:s') }}</td>
                            </tr>

                            {% if properties.getInvoice.referentDocumentNumber is not empty %}
                                <tr>
                                    <td class="align-middle text-start">Реф. број:</td>
                                    <td class="align-middle text-end">{{ properties.getInvoice.referentDocumentNumber }}</td>
                                </tr>
                            {% endif %}

                        </table>
                    </div>
                </div>
                <!-- INVOICE INFO END -->

                <!-- BORDERED CONTAINER START -->
                <div class="row">
                    <div class="col-12">
                        <div class="bordered-top bordered-bottom text-center">
                            Продаја
                        </div>
                    </div>
                </div>
                <!-- BORDERED CONTAINER END -->

                <!-- ITEMS START -->
                <div class="row">
                    <div class="col-12">
                        <small class="ps-0">Артикли:</small>
                        <table class="table table-sm table-borderless">
                            <tr>
                                <td class="text-start">Име</td>
                                <td class="text-center">Цена</td>
                                <td class="text-center">Кол.</td>
                                <td class="text-end">Укупно</td>
                            </tr>
                            {% for item in properties.items %}
                                <tr>
                                    <td colspan="4">{{ item.name }} ({{ item.labels | join(', ') }})</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td class="text-center">{{ item.price | decimal }}</td>
                                    <td class="text-center">{{ item.quantity | decimal }}</td>
                                    <td class="text-end">{{ item.amount | decimal }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
                <!-- ITEMS END -->

                <!-- BORDERED CONTAINER START -->
                <div class="row">
                    <div class="col-12">
                        <div class="bordered-bottom">

                        </div>
                    </div>
                </div>
                <!-- BORDERED CONTAINER END -->

                <!-- ITEMS SUMMARY START -->
                <div class="row">
                    <div class="col-12">
                        <table class="table table-sm table-borderless">
                            <tr>
                                <td class="text-start">ЗА УПЛАТУ:</td>
                                <td class="text-end">{{ properties.amount | decimal }}</td>
                            </tr>
                            {% for paymentType in properties.paymentTypes %}
                                <tr>
                                    <td class="text-start">{{ paymentType.name }}:</td>
                                    <td class="text-end">{{ paymentType.amount | decimal }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
                <!-- ITEMS SUMMARY END -->

                <!-- BORDERED CONTAINER START -->
                <div class="row">
                    <div class="col-12">
                        <div class="bordered-bottom">

                        </div>
                    </div>
                </div>
                <!-- BORDERED CONTAINER END -->

                <div class="row">
                    <div class="col-12">
                        <table class="table table-sm table-borderless">
                            <tr>
                                <td class="text-start">Ознака</td>
                                <td class="text-center">Назив</td>
                                <td class="text-center">Стопа</td>
                                <td class="text-end">Порез</td>
                            </tr>
                            {% for taxItem in properties.getTaxItems %}
                                <tr>
                                    <td class="text-start">{{ taxItem.label }}</td>
                                    <td class="text-center">{{ taxItem.categoryName }}</td>
                                    <td class="text-end">{{ taxItem.rate | decimal }} %</td>
                                    <td class="text-end">{{ taxItem.amount | decimal }}</td>
                                </tr>
                            {% endfor %}
                            <tr class="bordered-top bordered-bottom">
                                <td colspan="3">Укупно порез:</td>
                                <td class="text-end">{{ properties.getTaxAmount | decimal }}</td>
                            </tr>
                        </table>
                    </div>
                </div>

                <!-- TAX CORE INVOICE DETAILS START -->
                <div class="row">
                    <div class="col-12">
                        <table class="table table-sm table-borderless">
                            <tr>
                                <td class="text-start">ПФР време:</td>
                                <td class="text-end">{{ properties.getSdcDateTime | date('d.m.Y H:i:s') }}</td>
                            </tr>
                            <tr>
                                <td class="text-start">ПФР бр. рачуна:</td>
                                <td class="text-end">{{ properties.getSdcInterfacesNumber }}</td>
                            </tr>
                            <tr class="bordered-bottom">
                                <td class="text-start">Бројач рачуна:</td>
                                <td class="text-end">{{ properties.getInvoiceCounter }}</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <!-- TAX CORE INVOICE DETAILS END -->

                <!-- QR CODE CONTAINER START -->
                <div class="row my-2">
                    <div class="col-12 text-center">
                        <img src="data:image/gif;base64, {{ properties.getVerificationQRCode }}"
                             alt="verification-qr-code"
                             id="verification-qr-code"
                             class="img-fluid"/>
                    </div>
                </div>
                <!-- QR CODE CONTAINER END -->

                <!-- BORDERED CONTAINER START -->
                <div class="row">
                    <div class="col-12">
                        <div class="text-center">
                            <strong>Крај фискалног рачуна</strong>
                        </div>
                    </div>
                </div>
                <!-- BORDERED CONTAINER END -->

            </div>
        </div>
    </div>
{% endblock %}