{% extends 'base.html.twig' %}

{% block container %}
    <div class="row">
        <div class="col-12">

            <!-- MERCHANT LOGO START -->
            <div class="row">
                <div class="col-12 text-center">
                    <img src="{{ configuration.logoPath | base64Encode | image64('png') }}" alt="merchant-log-path"
                         class="img-fluid w-50 px-4 py-2"/>
                </div>
            </div>
            <!-- MERCHANT LOGO END -->

            {% if request.invoiceType.value == 2 %}
            <!-- BORDERED CONTAINER START -->
            <div class="row lh-1">
                <div class="col-12">
                    =========================================
                </div>
            </div>
            <!-- BORDERED CONTAINER END -->

            <!-- DOCUMENT TITLE CONTAINER START -->
            <div class="row lh-1">
                <div class="col-12 text-center">
                    <strong class="text-uppercase">Ово није фискални рачун</strong>
                </div>
            </div>
            <!-- DOCUMENT TITLE CONTAINER END -->

            <!-- BORDERED CONTAINER START -->
                <div class="row lh-1">
                    <div class="col-12">
                        =========================================
                    </div>
                </div>
            <!-- BORDERED CONTAINER END -->
            {% else %}
                <!-- DOCUMENT TITLE CONTAINER START -->
                <div class="row lh-1 mb-2">
                    <div class="col-12 text-center">
                        ============ <strong>Фискални рачун</strong> ============
                    </div>
                </div>
                <!-- DOCUMENT TITLE CONTAINER END -->
            {% endif %}

            <!-- INVOICE INFO START -->
            <div class="row">
                <div class="col-12">
                    <table class="table table-sm table-borderless">
                        <tr>
                            <td colspan="2" class="align-middle text-center">
                                {{ response.tin }}
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" class="align-middle text-center">
                                {{ response.businessName }}
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" class="align-middle text-center">
                                {{ response.locationName }}
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" class="align-middle text-center">
                                {{ response.address }}
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" class="align-middle text-center pb-2">
                                {{ response.district }}
                            </td>
                        </tr>

                        <tr>
                            <td class="align-middle text-start">Касир:</td>
                            <td class="align-middle text-end">{{ configuration.cashier }}</td>
                        </tr>

                        {% if request.buyerId is not empty %}
                            <tr>
                                <td class="align-middle text-start">ИД купца:</td>
                                <td class="align-middle text-end">{{ request.buyerId }}</td>
                            </tr>
                        {% endif %}

                        {% if request.buyerCostCenterId is not empty %}
                            <tr>
                                <td class="align-middle text-start">Опционо поље купца:</td>
                                <td class="align-middle text-end">{{ request.buyerCostCenterId }}</td>
                            </tr>
                        {% endif %}

                        <tr>
                            <td class="align-middle text-start">ЕСИР број:</td>
                            <td class="align-middle text-end">{{ configuration.esdcNumber }}</td>
                        </tr>

                        {% if request.invoiceType.value == 4 and request.transactionType.value == 0  %}
                            <tr>
                                <td class="align-middle text-start">ЕСИР време:</td>
                                <td class="align-middle text-end">{{ request.issueDateTime | date('d.m.Y H:i:s') }}</td>
                            </tr>
                        {% endif %}

                        {% if request.referentDocumentNumber is not empty %}
                            <tr>
                                <td class="align-middle text-start">Реф. број:</td>
                                <td class="align-middle text-end">{{ request.referentDocumentNumber }}</td>
                            </tr>
                        {% endif %}

                        {% if request.referentDocumentDateTime is not empty %}
                            <tr>
                                <td class="align-middle text-start">Реф. време:</td>
                                <td class="align-middle text-end">
                                    {{ request.referentDocumentDateTime | date('d.m.Y H:i:s') }}
                                </td>
                            </tr>
                        {% endif %}

                    </table>
                </div>
            </div>
            <!-- INVOICE INFO END -->

            <!-- BORDERED CONTAINER START -->
            <div class="row lh-1">
                <div class="col-12">
                    =========================================
                </div>
            </div>
            <!-- BORDERED CONTAINER END -->

            <!-- DOCUMENT TITLE CONTAINER START -->
            <div class="row lh-1">
                <div class="col-12 text-center">
                    {{ title }}
                </div>
            </div>
            <!-- DOCUMENT TITLE CONTAINER END -->

            <!-- BORDERED CONTAINER START -->
            <div class="row lh-1">
                <div class="col-12">
                    =========================================
                </div>
            </div>
            <!-- BORDERED CONTAINER END -->

            <!-- ITEMS START -->
            <div class="row">
                <div class="col-12">
                    <small class="ps-0">Артикли:</small>
                    <table class="table table-sm table-borderless">
                        <tr>
                            <td class="text-start">Назив</td>
                            <td class="text-center">Цена</td>
                            <td class="text-center">Кол.</td>
                            <td class="text-end">Укупно</td>
                        </tr>
                        {% for item in request.items %}
                            <tr>
                                <td colspan="4">{{ item.name }} ({{ item.labels | join(', ') }})</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td class="text-center">
                                   {{ item.unitPrice | decimal }}
                                </td>
                                <td class="text-center">{{ item.quantity | decimal }}</td>
                                <td class="text-end">
                                    {{ request | instanceof('\\TaxCore\\Request\\RefundBuilder') ? '-' : '' }}
                                    {{ item.amount | decimal }}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
            <!-- ITEMS END -->

            <!-- BORDERED CONTAINER START -->
            <div class="row lh-1">
                <div class="col-12">
                    =========================================
                </div>
            </div>
            <!-- BORDERED CONTAINER END -->

            <!-- ITEMS SUMMARY START -->
            <div class="row">
                <div class="col-12">
                    <table class="table table-sm table-borderless">
                        <tr>
                            <td class="text-start">Укупан износ:</td>
                            <td class="text-end">{{ request.amount | decimal }}</td>
                        </tr>

                        {% if request | instanceof('\\TaxCore\\Entities\\AdvanceSaleAmountInterface') %}
                            <tr>
                                <th class="text-start">Плаћено авансом:</th>
                                <th class="text-end">{{ request.receivedAmount | decimal }}</th>
                            </tr>
                            <tr>
                                <th class="text-start">ПДВ на аванс:</th>
                                <th class="text-end">{{ request.receivedTax | decimal }}</th>
                            </tr>
                        {% endif %}

                        {% for payment in request.payments %}
                            <tr>
                                <td class="text-start">{{ payment.name }}:</td>
                                <td class="text-end">{{ payment.amount | decimal }}</td>
                            </tr>
                        {% endfor %}

                        {% if request | instanceof('\\TaxCore\\Entities\\AdvanceSaleAmountInterface') %}
                            <tr>
                                <th class="text-start">Преостало за плаћање:</th>
                                <th class="text-end">{{ request.remainingAmount | decimal }}</th>
                            </tr>
                        {% endif %}
                    </table>
                </div>
            </div>
            <!-- ITEMS SUMMARY END -->

            <!-- BORDERED CONTAINER START -->
            <div class="row lh-1">
                <div class="col-12">
                    =========================================
                </div>
            </div>
            <!-- BORDERED CONTAINER END -->

            <!-- TAX DETAILS START -->
            <div class="row">
                <div class="col-12">
                    <table class="table table-sm table-borderless">
                        <tr>
                            <td class="text-start">Ознака</td>
                            <td class="text-center">Име</td>
                            <td class="text-center">Стопа</td>
                            <td class="text-end">Порез</td>
                        </tr>
                        {% for taxItem in response.taxItems %}
                            <tr>
                                <td class="text-start">{{ taxItem.label }}</td>
                                <td class="text-center">{{ taxItem.name }}</td>
                                <td class="text-end">{{ taxItem.rate | decimal }} %</td>
                                <td class="text-end">{{ taxItem.amount | decimal }}</td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <td colspan="4 lh-1">
                                =========================================
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">Укупан износ ПДВ-а:</td>
                            <td class="text-end">{{ response.taxItems | taxAmount | decimal }}</td>
                        </tr>
                        <tr>
                            <td colspan="4 lh-1">
                                =========================================
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <!-- TAX DETAILS END -->

            <!-- TAX CORE INVOICE DETAILS START -->
            <div class="row">
                <div class="col-12">
                    <table class="table table-sm table-borderless">
                        <tr>
                            <td class="text-start">ПФР време:</td>
                            <td class="text-end">{{ response.sdcDateTime | date('d.m.Y H:i:s') }}</td>
                        </tr>
                        <tr>
                            <td class="text-start">ПФР бр. рачуна:</td>
                            <td class="text-end">{{ response.invoiceNumber }}</td>
                        </tr>
                        <tr>
                            <td class="text-start">Бројач рачуна:</td>
                            <td class="text-end">{{ response.invoiceCounter }}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <!-- TAX CORE INVOICE DETAILS END -->

            <!-- BORDERED CONTAINER START -->
            <div class="row lh-1">
                <div class="col-12">
                    =========================================
                </div>
            </div>
            <!-- BORDERED CONTAINER END -->

            <!-- QR CODE CONTAINER START -->
            <div class="row my-1">
                <div class="col-12 text-center">
                    <img src="{{ response.verificationQRCode | image64('gif') }}" alt="verification-qr-code"
                         id="verification-qr-code" class="img-fluid"/>
                </div>
            </div>
            <!-- QR CODE CONTAINER END -->

            {% if request | instanceof('\\TaxCore\\Entities\\CustomerSignatureInterface') %}
                <!-- CUSTOMER SIGNATURE CONTAINER START -->
                <div class="row mt-5 mb-3">
                    <div class="col-4">
                        Потпис купца:
                    </div>
                    <div class="col-8">
                        <div class="border-top-0 border-left-0 border-right-0 bordered-bottom h-100"></div>
                    </div>
                </div>
                <!-- CUSTOMER SIGNATURE CONTAINER END -->
            {% endif %}

            <!-- BORDERED CONTAINER START -->
            <div class="row lh-1">
                <div class="col-12 text-center">
                    ========= <strong>Крај фискалног рачуна</strong> =========
                </div>
            </div>
            <!-- BORDERED CONTAINER END -->

            {% if request.advertisementItems is not empty %}
                <!-- ADVERTISEMENT ITEMS START -->
                <div class="row mt-2">
                    <div class="col-12">
                        <table class="table table-sm table-borderless">
                            {% for advertisementItem in request.advertisementItems %}
                                {% if advertisementItem.amount is not null %}
                                    <tr>
                                        <td class="text-start">* {{ advertisementItem.name  }}</td>
                                    </tr>
                                    <tr>
                                        <td class="text-end">{{ advertisementItem.amount | decimal }}</td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td class="text-start">* Последњи авансни рачун:</td>
                                    </tr>
                                    <tr>
                                        <td class="text-end">{{ advertisementItem.name  }}</td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        </table>
                    </div>
                </div>
                <!-- ADVERTISEMENT ITEMS END -->
            {% endif %}

        </div>
    </div>
{% endblock %}
